@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #e8edf2;
  color: #333333; /* << ADICIONADO O # */
  /* display: flex; foi removido */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  background-color: #e8edf2;
}

a {
  text-decoration: none;
  color: #f7f9fb;
}
button {
  border-radius: 10px;
  border: none;
  font-weight: 600;
}

/* Página login */
.bodyLogin {
  width: 100%;
  height: 100%;
  display: flex;
  place-items: center;
}
.cardLogin {
  background-color: #f7f9fb;
  width: 70%;
  min-width: 750px;
  margin: 0 auto;
  display: flex;
  border-radius: 40px;
  align-items: center;
  text-align: center;
}
.cardLogin img {
  width: 50%;
  border-radius: 40px 0px 0px 40px;
}
.formLogin {
  width: 50%;
}
.formLogin img {
  width: 60%;
  margin: 50px auto;
}
.inputCard {
  width: 70%;
  border: none;
  background-color: #e8edf2;
  height: 50px;
  margin: 5px 0px;
  border-radius: 10px;
  font-size: 15px;
  padding-left: 10px;
  font-weight: 500;
}

.btnSubmit {
  margin: 50px auto;
  width: 70%;
  height: 50px;
  cursor: pointer;
  background-color: #639a88;
  color: white;
}
/* ==================================== */

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0px auto;
}

/* Dashboard Professor */

/*===== Header ===== */
.containerHeader {
  width: 80%;
  margin: 0px auto;
  height: 80px;
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
}

.header-Prof {
  background-color: #f7f9fb;
  width: 100%;
  border-bottom: 1px solid #e8edf2;
  position: fixed;
  top: 0;
}

.divLogo {
  width: 20%;
  display: flex;
  align-items: center;
}
.logo {
  width: 50px;
}
.navbar {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.linksNav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.linkNav {
  color: #333333;
}
.linkNav:hover {
  color: #3a506b;
}

.itensUser {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newQuiz {
  width: 55%;
}
.btnQuiz {
  padding: 15px;
  background-color: #639a88;
  color: #ffffff;
  cursor: pointer;
}
.perfilUser {
  width: 35%;
  color: #333333;
}
.userExit {
  width: 10%;
  display: flex;
  justify-content: end;
}
.iconExit {
  color: #333333;
  padding: 5px;
  cursor: pointer;
}

/* ===== Main ===== */
.div-pai {
  display: flex;
  flex-direction: column; /* Para empilhar os filhos */
  min-height: 100vh; /* Para garantir que ele ocupe a tela toda */
}
.main-content {
  flex: 1; /* Diz para o conteúdo principal crescer e empurrar o rodapé */
}

/* Methrical Painel */

.methrics-Painel {
  display: flex;
  justify-content: space-between;
  margin: 110px 0px 30px 0px;
}
.methrics {
  width: 30%;
  height: 200px;
  border-radius: 20px;
  background-color: #639a88;
  color: #e2fcf3;
  padding: 45px;
}

.methrics-Title {
  font-size: 15px;
}
.methrics-Value {
  font-size: 30px;
}

.quiz-painel {
  background-color: #f7f9fb;
  border-radius: 20px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 20px;
  margin: 45px auto;
}
.card-Quiz {
  background-color: #ececec;
  border-top: 5px solid#639a88;
  border-radius: 0px 0px 20px 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 400px;
  gap: 10px;
}
.trashCard {
  height: 5%;
  display: flex;
  justify-content: end;
}

.trashCard button {
  color: #639a88;
  cursor: pointer;
}

.img-Quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 100%;
}
.nome-Quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
}

.legenda-Quiz {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: justify;
  height: 20%;
  font-size: 13px;
}

.btn-Acessar-Quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.btn-Acessar-Quiz a {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #639a88;
  color: #ffffff;
  height: 50px;
}

/* ===== Footer =====  */

footer {
  background-color: #136b4e;
  bottom: 0;
  height: 120px;
  display: flex;
  align-items: center;
}

.container-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  color: #f7f9fb;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #f7f9fb;
}

/* ==================================== */

/* Components */

/* EmptyPages */

.empty-page {
  background-color: #f7f9fb;
  border-radius: 10px;
  color: #afc5be;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  padding: 47px;
}

/* Create new Quiz */

.create-painel {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin: 110px 0px 30px 0px;
  background-color: #f7f9fb;
  border-radius: 20px;
  padding: 30px 50px;
}
.title-section {
  color: #136b4e;
  width: 100%;
  text-align: start;
  margin-bottom: 20px;
  font-size: 40px;
}
.option-class {
  width: 40%;
  display: flex;
  justify-content: space-between ;
}
.option-class h1, .option-teacher h1{
  width: 40%;
}

.option-class select, .option-teacher select{
  width: 60%;
  border-radius: 10px;
}

.option-teacher {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.select-class {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.questions {
  text-align: left;
  margin: 40px 0px;
}
.input-questions {
  display: flex;
  justify-content: space-between;
}
.title-questions {
  color: #136b4e;
  width: 20%;
  text-align: start;
}
.input-question-text {
  width: 80%;
  border-radius: 20px;
  border: 1px solid #afc5be;
  font-size: 15px;
  padding: 0px 15px;
}

.input-answers {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}
.title-alt {
  width: 18%;
}
.alt-anwsers {
  width: 80%;
  border: 1px solid #afc5be;
  border-radius: 20px;
}

.gabarito {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 20px;
}
.gabarito-alt {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.opcao-gab {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  width: 10%;
}
.select-gab {
  border-radius: 10px;
  color: #333333;
  border: 2px solid #333333;
  font-weight: 600;
}
.enviarFormQuiz{
  margin-top: 30px;
  display: flex;
  justify-content: end;
}

.formQuiz{
  height: 50px;
  width: 15%;
  background-color: #136b4e;
  color: white;
}
