@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #e8edf2;
  color: #333333;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  background-color: #afc5be;
}

a {
  text-decoration: none;
  color: #f7f9fb;
}
button {
  border-radius: 10px;
  border: none;
  font-weight: 600;
}

/* Página login */
.bodyLogin {
  width: 100%;
  height: 100%;
  display: flex;
  place-items: center;
}
.cardLogin {
  background-color: #f7f9fb;
  width: 60%;
  min-width: 750px;
  margin: 0 auto;
  display: flex;
  border-radius: 40px;
}
.div-img-login {
  width: 50%;
}
.img-login {
  width: 100%;
}
.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.img-formLogin {
  height: 44%;
  width: 80%;
  display: flex;
  align-items: end;
  justify-content: center;
}
.input-login {
  height: 56%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  & button {
    height: 50px;
    border-radius: 5px;
    background-color: #136b4e;
    color: #f7f9fb;
    margin: 5px 0px;
  }
}
.input-card {
  border: 1px solid #afc5be;
  border-radius: 5px;
  height: 50px;
  margin: 10px 0px;
  padding-left: 10px;
}

/* ==================================== */

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0px auto;
}

/* Dashboard Professor */

/*===== Header ===== */
.containerHeader {
  width: 80%;
  margin: 0px auto;
  height: 80px;
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
}

.header-Prof {
  background-color: #f7f9fb;
  width: 100%;
  border-bottom: 1px solid #e8edf2;
  position: fixed;
  top: 0;
}

.divLogo {
  width: 20%;
  display: flex;
  align-items: center;
}
.logo {
  width: 50px;
}
.navbar {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.linksNav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.linkNav {
  color: #333333;
}
.linkNav:hover {
  color: #3a506b;
}

.itensUser {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newQuiz {
  width: 35%;
}
.btnQuiz {
  padding: 15px;
  background-color: #136b4e;
  color: #ffffff;
  cursor: pointer;
}
.perfilUser {
  width: 60%;
  color: #333333;
}
.userExit {
  width: 10%;
  display: flex;
  justify-content: end;
}
.iconExit {
  color: #f7f9fb;
  padding: 5px;
  cursor: pointer;
  background-color: #638a7d;
}

/* ===== Main ===== */
.div-pai {
  display: flex;
  flex-direction: column; /* Para empilhar os filhos */
  min-height: 100vh; /* Para garantir que ele ocupe a tela toda */
}
.main-content {
  flex: 1;
  /* Diz para o conteúdo principal crescer e empurrar o rodapé */
}
.mg-sup {
  margin: 110px auto 60px auto;
}

.title-sections {
  color: #136b4e;
  width: 40%;
  text-align: start;
  margin: 10px 0px;
}
/* Dashboard Painel */

.section-dashboard {
  background-color: #f7f9fb;
  border-radius: 20px;
  height: 400px;
  padding: 20px;
  display: flex;
}
.dash-left {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.dashboard-cards {
  width: 100%;
  display: flex;
  height: 40%;
  justify-content: space-around;
}
.cards-dsh {
  background-color: #ececec;
  color: #333333;
  width: 30%;
  padding: 10px;
  border-radius: 5px 5px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-top: 5px solid#136b4e;
}
.best5-simulados {
  height: 55%;
  background-color: #ececec;
  border-top: 5px solid#136b4e;
  border-radius: 5px 5px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.title-card {
  height: 50%;
  display: flex;
  align-items: center;
}

.dash-center {
  width: 30%;
  padding: 10px;
}

.infos-card-simulados {
  background-color: #ececec;
  height: 100%;
  padding: 10px;
  border-top: 5px solid#136b4e;
  border-radius: 5px 5px 10px 10px;
}
.info-select {
  width: 100%;
  height: 20%;
  padding: 10px;
  & select {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
  }
  & select:focus {
    outline: none;
  }
  & select:hover {
    border: none;
  }
}
.display {
  display: flex;
  justify-content: space-evenly;
}
.gray {
  color: #d0ccdb;
}
.card-info {
  height: 22.5%;
  padding: 10px 20px;
  margin: 5px 0px;
  background-color: #f7f9fb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dash-right {
  width: 35%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.best3-alunos {
  background-color: #ececec;
  border-top: 5px solid#136b4e;
  border-radius: 5px 5px 10px 10px;
  height: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.box-ranking {
  background-color: #8aa38a;
  color: #f7f9fb;
  height: 23%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-ranking {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ac9898;
}
.nome-aluno {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10px;
  border-right: 1px solid #ac9898;
  font-weight: 600;
}
.id-simulado {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10px;
  border-right: 1px solid #ac9898;
  font-weight: 600;
}
.materia-ranking {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10px;
  border-right: 1px solid #ac9898;
  font-weight: 600;
}
.nota-aluno,
.nota-ranking {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.worst3-alunos {
  background-color: #ececec;
  border-top: 5px solid#136b4e;
  border-radius: 5px 5px 10px 10px;
  height: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

/* Aluno painel */
.aluno-Painel {
  width: 100%;
  padding: 30px 50px;
  background-color: #f7f9fb;
  border-radius: 20px;
}
.banner-a {
  width: 100%;
  color: #136b4e;
  display: flex;
  justify-content: space-between;
}

.banner-left {
  width: 65%;
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-direction: column;
}
.banner-left h1 {
  text-align: start;
  font-size: 50px;
  height: 60%;
}
.banner-left h3 {
  color: #136b4e;
  font-weight: 500;
  font-size: 20px;
  height: 50%;
}
.banner-left button {
  width: 30%;
  height: 90px;
  font-size: 17px;
  font-weight: 600;
  background-color: #136b4e;
  color: #f7f9fb;
  cursor: pointer;
}

.banner-rigth {
  width: 35%;
  display: flex;
  justify-content: center;
}

/* Simulados */
.simulados {
  margin-top: 50px;
}
.quiz-painel {
  background-color: #f7f9fb;
  border-radius: 20px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 2fr));
  gap: 20px;
  margin: 10px auto;
  justify-content: space-between;
}
.card-Quiz {
  background-color: #ececec;
  border-top: 5px solid#136b4e;
  border-radius: 5px 5px 10px 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 400px;
  gap: 10px;
}
.trashCard {
  height: 5%;
  display: flex;
  justify-content: end;
}

.trashCard button {
  color: #136b4e;
  cursor: pointer;
}

.img-Quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 100%;
}
.nome-Quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
}

.legenda-Quiz {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: justify;
  height: 20%;
  font-size: 13px;
}

.btn-Acessar-Quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.btn-Acessar-Quiz a {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #136b4e;
  color: #ffffff;
  height: 50px;
}

/* ===== Footer =====  */

footer {
  background-color: #136b4e;
  bottom: 0;
  height: 120px;
  display: flex;
  align-items: center;
}

.container-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  color: #f7f9fb;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #f7f9fb;
}

/* ==================================== */

/* Components */

/* EmptyPages */

.empty-page {
  background-color: #f7f9fb;
  border-radius: 10px;
  color: #afc5be;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  padding: 47px;
}

/* Create new Quiz */

.create-painel {
  display: flex;
  justify-content: start;
  flex-direction: column;
  background-color: #f7f9fb;
  border-radius: 20px;
  padding: 30px 50px;
}
.title-section {
  color: #136b4e;
  width: 100%;
  text-align: start;
  margin-bottom: 20px;
  font-size: 40px;
}

.select-class {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.option-class {
  display: flex;
  width: 45%;
  justify-content: space-between;
}

.option-teacher {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.option-class h1,
.option-teacher h1 {
  width: 40%;
}

.select-opt {
  width: 60%;
  border-radius: 10px;
  border: 1px solid #d0ccdb;
  margin-left: 35px;
}
.create-legend {
  display: flex;
}

.questions {
  text-align: left;
  margin: 0px 0px;
}
.input-questions {
  display: flex;
  justify-content: space-between;
  margin: 35px 0px 0px 0px;
}
.title-questions {
  color: #136b4e;
  width: 20%;
  text-align: start;
}
.input-question-text {
  width: 80%;
  border-radius: 10px;
  border: 1px solid #afc5be;
  font-size: 15px;
  padding: 0px 15px;
}

.input-answers {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 0px 0px;
}
.title-alt {
  width: 18%;
  font-weight: 500;
}
.file-answer {
  width: 80%;
  border: 1px solid #afc5be;
  border-radius: 10px;
  padding: 10px 15px;
}
.alt-anwsers {
  width: 80%;
  border: 1px solid #afc5be;
  border-radius: 10px;
  padding: 0px 15px;
}

.gabarito {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 20px;
}
.gabarito-alt {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
}
.opcao-gab {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  width: 10%;
}
.select-gab {
  border-radius: 10px;
  color: #333333;
  font-weight: 600;
}
.enviarFormQuiz {
  margin-top: 30px;
  display: flex;
  justify-content: end;
}

.formQuiz {
  height: 50px;
  width: 15%;
  background-color: #136b4e;
  color: white;
}
hr {
  opacity: 20%;
  width: 95%;
  margin: 20px auto;
}

/* ============================ */

/* Perfil */

.main-camp {
  width: 100%;
  text-align: start;
  padding: 30px;
  background-color: #f7f9fb;
  border-radius: 20px;
  display: flex;
}
.secction1 {
  width: 65%;
}
.title-camp {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title-sup {
  display: flex;
}
.id-profile {
  font-size: 12px;
}
.imgUser {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
}
.credenciais {
  display: flex;
  border-right: 1px solid #d6dbda;
  width: 98%;
  padding: 10px 0;
}
.photo-user {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

  & h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    font-size: 50px;
    border-radius: 50%;
    border: 1px solid #dfe1e2;
    color: #333333;
  }
  & div p {
    display: flex;
    justify-content: center;
    color: #333333;
  }
}
.credenciais-user {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 68%;
  justify-content: center;
}

.input-nome {
  margin: 5px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  & p {
    font-size: 10px;
    font-weight: 600;
    color: #638a7d;
  }
  & input {
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #638a7d;
  }
}

.input-email {
  margin: 5px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  & p {
    font-size: 10px;
    font-weight: 600;
    color: #638a7d;
  }
  & input {
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #638a7d;
  }
}
.lastRow {
  width: 100%;
  display: flex;
  gap: 3px;
}
.input-cpf {
  margin: 5px 0px;
  width: 33%;
  display: flex;
  flex-direction: column;
  & p {
    font-size: 10px;
    font-weight: 600;
    color: #638a7d;
  }
  & input {
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #638a7d;
  }
}
.input-tel {
  margin: 5px 0px;
  width: 33%;
  display: flex;
  flex-direction: column;
  & p {
    font-size: 10px;
    font-weight: 600;
    color: #638a7d;
  }
  & input {
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #638a7d;
  }
}
.input-data {
  margin: 5px 0px;
  width: 33%;
  display: flex;
  flex-direction: column;
  & p {
    font-size: 10px;
    font-weight: 600;
    color: #638a7d;
  }
  & input {
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #638a7d;
    font-family: "Geist";
    color: #638a7d;
  }
}
.btn-send-user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-submit {
  color: #ececec;
  padding: 10px 15px;
  background-color: #136b4e;
  width: 30%;
  margin: 10px 5px;
  text-align: center;
  border-radius: 10px;
  height: 50px;
  cursor: pointer;
}
.btn-submit-senha {
  color: #ececec;
  padding: 10px 15px;
  background-color: #136b4e;
  width: 50%;
  margin: 10px 5px;
  text-align: center;
  border-radius: 10px;
  height: 50px;
  cursor: pointer;
}
.btn-branco {
  background-color: #f7f9fb;
  color: #638a7d;
  border: 1px solid #638a7d;
}

.secction2 {
  width: 35%;
}

.credenciais-senha {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.update-senha {
  margin: 5px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  & p {
    font-size: 10px;
    font-weight: 600;
    color: #638a7d;
  }
  & input {
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #638a7d;
  }
}

/* ===== Notas ===== */

.section-notas {
  background-color: #f7f9fb;
  border-radius: 20px;
  padding: 20px 30px;
}

.aba-title {
  background-color: #d6dbda;
  margin: 10px 0px;
  display: flex;
  padding: 10px 20px;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #136b4e;
  justify-content: space-between;
  border-top: 5px solid #136b4e;
}
.nota-media {
  background-color: #d6dbda;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #136b4e;
  justify-content: space-between;
}

.aba-title {
  background-color: #d6dbda;
  margin: 10px 0px;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #136b4e;
  justify-content: space-between;
}

.photo-user-notas {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;

  & h4 {
    border: 1px solid #136b4e;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.name-user {
  width: 40%;
  text-align: start;
  padding-left: 10px;
  border-left: 1px solid #d0ccdb;
  border-right: 1px solid #d0ccdb;
}
.id-user {
  width: 15%;
  text-align: center;
  border-left: 1px solid #d0ccdb;
}
.nota-user {
  width: 15%;
  text-align: center;
  border-left: 1px solid #d0ccdb;
}
.status-user {
  width: 20%;
  text-align: center;
  border-left: 1px solid #d0ccdb;
}
.back-green {
  background-color: green;
  padding: 5px;
  border-radius: 10px;
  color: white;
  margin: 0px auto;
  width: 60%;
}
.back-blue {
  background-color: blue;
  padding: 5px;
  border-radius: 10px;
  color: white;
  margin: 0px auto;
  width: 60%;
}
.back-orange {
  background-color: orange;
  padding: 5px;
  border-radius: 10px;
  color: white;
  margin: 0px auto;
  width: 60%;
}

/* ===== Cadastro Users ===== */

.main-cadastro {
  width: 100%;
  text-align: start;
  padding: 30px;
  background-color: #f7f9fb;
  border-radius: 20px;
}
.form-group-cadastro {
  width: 50%;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  & input {
    border: 1px solid #afc5be;
    border-radius: 10px;
    padding-left: 10px;
    height: 50px;
  }
  & label {
    color: #638a7d;
    font-size: 10px;
  }
}

.form-group-tipo-usuario {
  width: 50%;
}
.user-box-verify {
  display: flex;
  justify-content: space-between;
}
.box-radio{
  border: 1px solid #136b4e;
  width: 48%;
  padding: 10px;
  border-radius: 10px;
  & label {
    padding-left: 10px;
  }
}
.selecionado {
  background-color: #136b4e;
  color: #e8edf2;
}

.checkbox-group{
  & label{
    padding-left: 10px;
    cursor: pointer;
  }
}

.btn-submit-cadastro{
  background-color: #136b4e;
  color: #e8edf2;
  width: 25%;
  padding: 20px;
  cursor: pointer;
}
